.login-form{
  margin-top: 40px;
  margin-bottom: 20px;
  // background-color: #dedcdc;
  height: 100%;
}

.form-item{
  // background-color: #dbd9d9;
  margin: 10px;
}

.form-button{
  margin: 10px;

}